/*
hagspotstyle.css
Group: Emily Y Adonai B. Diana M. Abdikarim M. 
*/

/* Center the header and make it more readable*/
h1{
	text-align: center;
	/*background-color: rgb(128,0,0);*/
	color: #333333;
	font-family: Arial, sans-serif;
}
h2{
	color: #333333;

}
h3{
	color: #333333;
}
nav{
	
  	margin: 0;
  	padding: 0;
  	background-color: #333333;
  	display: flex;
  	justify-content: center;
}
.active {
    font-weight: bold;
    text-decoration: underline;
}
nav a{
	display: block;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}
nav a:hover{
	background-color: rgb(128,0,0);
}
header{
	text-align: center;
	background-color: rgb(128,0,0);
	color: white;
	font-family: Arial, sans-serif;
	font-size: 50pt;
}
p{
	color: SteelBlue;
	text-align: left;
	font-family: Arial, sans-serif;
	font-size: 15pt;
}
.header-right {
    display: flex;
    gap: 10px;
}

/* Button style */
.header-right a {
    border: 2px solid white;
    color: white;
    padding: 6px 12px;
	font-size: 12pt; 
    text-decoration: none;
    border-radius: 6px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

/* Hover effect */
.header-right a:hover {
    background-color: white;
    color: rgb(128,0,0);
}

/* Center the hagfors building image */
img {
	display: block;
	margin: auto;
	width: 50%;
}